<div class="container  app-todos">
    <app-new-todo (newTodo)="addTodo($event)">

    </app-new-todo>

    <ul *ngIf="todoList" class="list-group list-group-flush">
        <app-todos-item *ngFor = "let item of todoList" 
                        [todo]="item"
                        (delete)="deleteTodo($event)"
                        (update)="updateTodo($event)">

        </app-todos-item>
    
    </ul>

    <div class="text-center" 
         *ngIf="!todoList">
        No Data.
    </div>

    <div class="text-center" 
         *ngIf="!todoList.length">
        Todo list is empty. Please create your first todo.
    </div>
</div>

