.form-priority{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    
    padding-right: 30px;
}
.form-inputs{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}
.todo-button {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    font-weight: 900;
    border: 3px solid black;
}