<div class="container app-todos">
    <app-new-todo (newTodo)="addTodo($event)">

    </app-new-todo>
    
    <form class="container form-priority">

        <div class="form-group form-inputs">
          <input class="form-control"
                 name="search"
                 type="text"
                 placeholder="Search..."
                 autocomplete="off"
                 [(ngModel)]="search" />
        </div>

        <div class="form-inputs">
            <div>
                <input type="radio"
                       value="low"
                       name="filterPriority"
                       [(ngModel)]="filterPrority" 
                       >Low
                <input type="radio"
                       value="middle"
                       name="filterPriority"
                       [(ngModel)]="filterPrority" 
                       >Middle
                <input type="radio"
                       name="filterPriority"
                       value="hight"
                       [(ngModel)]="filterPrority" 
                       >Hight
                <input type="radio"
                       name="filterPriority"
                       [(ngModel)]="filterPrority" 
                       value=""
                       >All
            </div>
        </div>
    </form>

    <ul *ngIf="todoList" 
        class="list-group list-group-flush">
        
        <app-todos-item *ngFor = "let item of todoList | filterBySearch:search | filterTodo:filterPrority" 
                        [todo]="item"
                        (delete)="deleteTodo($event)"
                        (update)="updateTodo($event)">

        </app-todos-item>
    
    </ul>

    <div class="text-center" 
         *ngIf="!todoList">
        No Data.
    </div>

    <div class="text-center" 
         *ngIf="!todoList.length">
        Todo list is empty. Please create your first todo.
    </div>
</div>

