.is-done{
    text-decoration: line-through;
}
.show-hide-button{
    margin-right: 3px;
}
.todo-description{
    padding-top: 10px;
    margin: 0;
}
.title-icons{
    width: 200px;
    display: flex;
}
.app-header{
    display: flex;
}
.my-icons{
    margin-right: 10px;
}