<li class="list-group-item">
    <header class="app-header">
        <div class="title-icons">
            <span class="material-icons my-icons"
                  (click)="toogleTodo()">
                {{(todo.isDone) ? 'check_box' : 'check_box_outline_blank'}}
            </span>
            
            <h5 class="title-with-badg"
                [class.is-done]="todo.isDone"
                [appHighlight]="'#00FF7F'">
                {{todo.title}}

                <div class="bad" 
                      [ngSwitch]="todo.priority">
                    <span class="badge badge-pill badge-success" *ngSwitchCase="'low'">Low</span>
                    <span class="badge badge-pill badge-danger" *ngSwitchCase="'hight'">Hight</span>
                    <span class="badge badge-pill badge-warning" *ngSwitchCase="'middle'">Middle</span>
                </div>
               
            </h5>
        </div>

        <div class="todo-btn-group">

            <button class="btn btn-secondary show-hide-button"
            [disabled]="!todo.description"
            (click)="toogleDetails()"
            *ngIf="!isShowDetails">
                Show Details
            </button>

            <button class="btn btn-secondary show-hide-button"
                [disabled]="!todo.description"
                (click)="toogleDetails()"
                *ngIf="isShowDetails">
                Hide Details
            </button>

            <button class="btn btn-outline-success edit-button"
                    (click)="openModal()">
                Edit
            </button>

            <button class="btn btn-outline-danger"
                    (click)="deleteTodo(todo.id)">
                Delete
            </button>
        </div>
    </header>

    <div *ngIf="isShowDetails">
        <p class="todo-description"
        *ngIf="todo.description"
        >
        {{todo.description}}</p>
    </div>
    <hr>
</li>
