.is-done {
    text-decoration: line-through;
}
.show-hide-button, .edit-button {
    margin-right: 4px;
}
.edit-button {
    width: 70px;
}
.todo-description {
    padding-top: 10px;
    margin: 0;
}
.title-icons {
    display: flex;
}
.app-header {
    display: flex;
    justify-content: space-between;
}
.my-icons {
    margin-right: 10px;
}
.bad {
    margin-left: 5px;
    font-size: 75%;
}
.title-with-badg {
    display: flex;
}
.btn {
    font-weight: 900;
}