.is-done {
    text-decoration: line-through;
}
.show-hide-button, .edit-button {
    margin-right: 4px;
}
.edit-button {
    width: 70px;
}
.todo-description {
    padding-top: 10px;
    margin: 0;
}
.title-icons {
    display: flex;
}
.app-header {
    display: flex;
    justify-content: space-between;
}
.my-icons {
    margin-right: 10px;
}
.bad {
    margin-left: 5px;
    font-size: 75%;
}
.title-with-badg {
    display: flex;
    flex-wrap: wrap;
}
.btn {
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    // .app-header {
    //     display: block;
    // }
    .app-header {
        flex-direction: column;
    }
    .btn {
        font-size: 13px;
    }
}
@media screen and (max-width: 318px) {
    .btn {
        font-size: 10px;
    }
}
@media screen and (max-width: 290px) {
    .list-group-item {
        padding: 0;
    }
}
