<div class="phone-nav">
    <nav>
        <ul>
            <a routerLink="about-project"
               routerLinkActive="active">
               About Project
            </a>
            <a routerLink="about-us"
               routerLinkActive="active">
               About Us
            </a>
        </ul>
    </nav>
</div>

<div class="app-about">

    <nav class="nav-side">
        <ul>
            <li>
                <a routerLink="about-project"
                   routerLinkActive="active">
                   About Project
                </a>
            </li>

            <li>
                <a routerLink="about-us"
                   routerLinkActive="active">
                   About Us
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>



