<div class="app-about">
    <nav>
        <ul>
            <li>
                <a routerLink="about-project"
                   routerLinkActive="active">
                   About Project
                </a>
            </li>

            <li>
                <a routerLink="about-us"
                   routerLinkActive="active">
                   About Us
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>



