:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.for-router {
    flex: 1 0 auto;
}
app-footer {
    flex: 0 0 auto;
}
.active {
    color: red;

    a {
        color: red;
    }
}
