<div class="modal-header">
    <h4 class="modal-title pull-left">Todo</h4>
    <button type="button" 
            class="close pull-right" 
            aria-label="Close" 
            (click)="hideModal()">

      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="container app-new-todo">
      <form [formGroup]="newTodoForm"
          (ngSubmit)="onSubmit()"
          class="needs-validation">

        <div class="form-group">
            <input type="text"
                   class="form-control" 
                   placeholder="Todo Title"
                   formControlName="title"
                   [class.is-invalid]="isSubmit && newTodoForm.get('title').invalid"
                   [class.is-valid]="newTodoForm.get('title').valid">

            <div *ngIf = "isSubmit && newTodoForm.get('title').invalid" class="text-danger">
                <span *ngIf="newTodoForm.get('title').errors.required">Input is required.</span>
                <span *ngIf="newTodoForm.get('title').errors.minlength">Input min length is 4.</span>
            </div>
            
        </div>

        <div class="form-group">
            <textarea class="form-control"
                      placeholder="Todo Description" 
                      rows="3"
                      formControlName="description"
                      [class.is-valid]="newTodoForm.get('description').valid"
                      [class.is-invalid]="isSubmit && newTodoForm.get('description').invalid"
                      >
            </textarea>

            <div *ngIf = "isSubmit && newTodoForm.get('description').invalid" class="text-danger">
                <span *ngIf="newTodoForm.get('description').errors.required">Description is required.</span>
                <span *ngIf="newTodoForm.get('description').errors.minlength">Description min length is 4.</span>
            </div>
        </div>

        <div class="radio-badgets">

            <div class="low">
                <input  type="radio"
                        id="low"  
                        value="low"
                        formControlName="priority">

                <label for="low">Low</label>
            </div>

            <div class="middle">
                <input  type="radio"
                        id="middle" 
                        value="middle"
                        formControlName="priority">

                <label for="middle">Middle</label>
            </div>

            <div class="hight">
                <input  type="radio"
                        id="hight"  
                        value="hight"
                        formControlName="priority">

                <label for="hight">Hight</label>
            </div>
            
        </div>

        <div *ngIf = "isSubmit && newTodoForm.get('priority').invalid" class="text-danger">
            <span>Select one of the options.</span>
        </div>
        
        <!-- [disabled]="newTodoForm.invalid" -->
        <footer class="footer-btn">
            <button class="btn btn-primary btn-lg"
                    type="submit"
                    >
            Save
            </button>
        </footer>
    </form>  
  </div>
</div>
    
 



